{% extends 'base.html' %}

{% block content %}
    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol> 
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/soccer-ball-grass.webp?alt=media&token=6dab42bc-7e8f-4e69-9e32-4d17e495f491" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Soccer euphoria is here</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Show your passion and take amazing collectibles with you</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Go Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/carousel-2.jpg?alt=media&token=3220d8c3-962b-469c-b729-4b947e7f0fd3" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Up to 25% off handbags</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Be ready for making you beatiful existence</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Buy it Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/picasso-horse.jpeg?alt=media&token=7c8a3aad-773f-4d2d-849c-73aefd386b8b" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Paintings</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Dont's miss the chance to get masterpieces</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/delivery-illurstration.jpeg?alt=media&token=f1c2d4d8-2f10-4547-9cd5-32108ed239f4" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Fast Delivery</h6>
                        <h3 class="text-white mb-3">At most 3 Days</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/global-worldwide.jpeg?alt=media&token=a4dc11a4-3f8b-403a-946f-02f500ca1346" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Global</h6>
                        <h3 class="text-white mb-3">Products Worldwide</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=0">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/headphone.webp?alt=media&token=fe635df0-1580-4356-9457-95d27d96b111" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Electornics</h6>
                            <small class="text-body">All you want</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=1">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/engine-2.webp?alt=media&token=50af0629-7a88-45dc-b57f-fb8ee797625d" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Motors</h6>
                            <small class="text-body">All electronic products</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=2">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/tshirts.webp?alt=media&token=b23e8b7c-c63c-406d-b29d-f1b07c26ad2a" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Fashion</h6>
                            <small class="text-body">All favorite brands</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=3">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/devotion.jpg?alt=media&token=9f366a5e-6d7a-41fb-8b2c-c1e5d7177989" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Book</h6>
                            <small class="text-body">All books you read</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=4">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/prints.webp?alt=media&token=8a1ea3d6-7215-4be5-be04-8bdcc33419e3" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Art</h6>
                            <small class="text-body">Even priceless</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=5">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/soccer-shoes.webp?alt=media&token=3f1dedbf-cbf7-45cd-bcfa-913bc5122d9d" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Sports</h6>
                            <small class="text-body">All sports equipmenta</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=6">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/body-wash.webp?alt=media&token=cf2c661e-ed35-44ab-a60f-fa7805570921" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Health&Beauty</h6>
                            <small class="text-body">Make you shine</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/shop?category=7">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/palnt-4.webp?alt=media&token=5e77c0ba-e199-4536-8bee-b5992ff8426f" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Home&Plants</h6>
                            <small class="text-body">Green & Green</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Categories End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Poplular Products</span></h2>
        <div class="row px-xl-5">
            {% for product in populars %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden" style="height: 400px">
                        <img class="img-fluid w-100" src= "{{ product.image }}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="/put_cart?id={{ product.id }}"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="/put_wish?id={{ product.id }}"><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="/detail?id={{ product.id }}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate">{{ product.name }}</a>
                        <div class="d-flex flex-column align-items-center justify-content-center mt-2">
                            <h5>${{ product.price }}  </h5>
                            <h3 class="btn btn-primary">{{ "In Progress" if product.auction else "Purchased" }}</h3>
                            <h6 class="text-muted ml-2">{{ product.place }} to shipping</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->


    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/delivery-illurstration.jpeg?alt=media&token=f1c2d4d8-2f10-4547-9cd5-32108ed239f4" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Fast Delivery</h6>
                        <h3 class="text-white mb-3">At most 3 Days</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/fleamarket-baab1.appspot.com/o/global-worldwide.jpeg?alt=media&token=a4dc11a4-3f8b-403a-946f-02f500ca1346" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Global</h6>
                        <h3 class="text-white mb-3">Prodcuts Worldwide</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
        <div class="row px-xl-5">
            {% for product in recents %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden" style="height: 400px">
                        <img class="img-fluid w-100" src= "{{ product.image }}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="/put_cart?id={{ product.id }}"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="/put_wish?id={{ product.id }}"><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="/detail?id={{ product.id }}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate">{{ product.name }}</a>
                        <div class="d-flex flex-column align-items-center justify-content-center mt-2">
                            <h5>${{ product.price }}  </h5>
                            <h3 class="btn btn-primary">{{ "In Progress" if product.auction else "Purchased" }}</h3>
                            <h6 class="text-muted ml-2">{{ product.place }} to shipping</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->
{% endblock %}